---
export const prerender = false;

import { KeystaticPage } from '../components/KeystaticPage';
---

<html lang="tr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Keystatic Admin</title>
    <meta name="robots" content="noindex,nofollow" />
  </head>
  <body>
    <KeystaticPage client:only="react" />
  </body>
</html>
